@import '../../../elements-sk/modules/styles/buttons';
bugs-slo-popup-sk {

  .slo-dialog {
    background-color: var(--background);
    color: var(--on-background);
  }

  button.done {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  span.priority-name {
    font-weight: bold;
  }

  table.slo-table {
    width: 100%;
    padding: 20px 0;
  }

  table.slo-table td {
    padding: 5px;
  }
}
