@import '../../../elements-sk/modules/themes/color-palette';
@import '../../../elements-sk/modules/themes/themes';

test-src-sk {
  .output {
    margin: 0;
    padding: 0;
    background: var(--in-primary);
    color: var(--primary);
    overflow-x: auto;
    font-family: monospace;
    font-size: 13px;
  }
}
