@import '../../../elements-sk/modules/themes/color-palette';
@import '../../../elements-sk/modules/themes/themes';

alogin-sk {
  display: inline-block;

  .logInOut {
    margin-left: 8px;
  }

  .email,
  .logInOut {
    font-size: 15px;
    color: var(--primary);
  }
}
