@import '../../../elements-sk/modules/themes/color-palette';
@import '../../../elements-sk/modules/themes/themes';

autogrow-textarea-sk {
  textarea {
    resize: none;
    background-color: var(--surface);
    color: var(--on-surface);
    width: 100%;
  }
  textarea:focus {
    outline-color: var(--primary);
  }
  textarea::placeholder {
    color: var(--transparent-overlay);
  }
}
