@import '../../../elements-sk/modules/themes/color-palette';
@import '../../../elements-sk/modules/themes/themes';

uniform-slider-sk {
  display: block;
  padding: 8px;
  margin: 0;
  border: 0;

  input {
    margin-right: 8px;
  }

  label {
    display: flex;
    align-items: center;
  }
}
