<!DOCTYPE html>
<html>
  <head>
    <title>Skia Shaders Playground</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/dist/version.js" nonce="{% .Nonce %}"></script>
    <script src="/dist/canvaskit.js" nonce="{% .Nonce %}"></script>
  </head>

  <body class="body-sk font-sk">
    <shaders-app-sk></shaders-app-sk>
  </body>
</html>
