@import '../../../elements-sk/modules/styles/table';
@import '../../../infra-sk/modules/results';
@import '../colors';

arb-mode-history-sk {
    :host {
      font-family: sans-serif;
    }
    .big {
      font-size: 1.3em;
    }
    .small {
      font-size: 0.8em;
    }
    .hidden {
      display: none;
    }
    .nowrap {
      white-space: nowrap;
    }
  }