@import '../../../elements-sk/modules/styles/buttons';
@import '../../../elements-sk/modules/themes/color-palette';
@import '../../../elements-sk/modules/themes/themes';

expandable-textarea-sk {
  button.expander {
    min-width: 0;
    text-transform: none;
    padding: 0 0.5em 0 0;
    margin: 0;
    height: auto;
  }
}
