@import '../../../elements-sk/modules/colors';

triagelog-page-sk {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    text-align: left;

    th {
      border: none;
    }
  }

  th, td {
    border-top: 1px solid var(--dark-white);
    padding: 8px;

    &:last-child {
      text-align: right;
    }

    button {
      margin: 0;
    }
  }

  td.timestamp {
    width: 180px;
  }

  td.num-changes {
    width: 300px;
  }

  td.actions {
    width: 80px;
  }

  tr.details {
    td {
      border-top: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    td.test-name {
      word-break: break-all;
    }

    &.details-separator td {
      padding-bottom: 8px;
    }
  }
}
