@use './theme-chooser-sk.scss';
@import '../../themes';

.body-sk {
  app-sk > aside {
    padding: 16px;
  }

  theme-chooser-sk {
    cursor: pointer;
  }

  .container-example {
    padding: 16px;
  }

  main {
    display: flex;
  }

  section {
    margin: 0 8px;
  }
}
