@import '../../../elements-sk/modules/styles/buttons';
@import '../colors';

pagination-sk {

  button {
    border-radius: 5px;
  }

  button.action {
    background: var(--primary-highlight);
  }

  button.action:hover {
    background: var(--primary);
  }

  button:not(.action)[disabled] {
    font-weight: 900;
    text-decoration: underline;
  }
}
