@import '../../../elements-sk/modules/themes/color-palette';
@import '../../../elements-sk/modules/themes/themes';
@import '../../../elements-sk/modules/checkbox-sk/checkbox-sk';
@import '../../../elements-sk/modules/multi-select-sk/multi-select-sk';

query-values-sk {
  #regex ~ #values,
  #regex[checked] + #regexValue {
    display: inline-block;
  }

  #regex[checked] ~ #values,
  #regex + #regexValue {
    display: none;
  }

  multi-select-sk {
    max-height: 20em;
    overflow-y: auto;
  }
}
