@import '../../../elements-sk/modules/colors';
@import '../colors';

gold-scaffold-sk {
  font-family: Roboto, Helvetica, Arial, 'Bitstream Vera Sans', sans-serif;

  app-sk {
    --header-background-color: var(--gold);
    --header-font-color: var(--on-primary, var(--white));
    --background: var(--white);

    main {
      // Prevent the app-sk from stretching horizontally indefinitely (for example, dots-sk can
      // become very long). See https://css-tricks.com/preventing-a-grid-blowout/.
      min-width: 0;
    }
  }

  header {
    h1 {
      font-weight: bold;
      font-size: 1.5em;
    }

    .spinner-spacer {
      min-width: 40px;
    }

    spinner-sk {
      width: 24px;
      height: 24px;
      margin: 0;
      border: 8px solid var(--light-orange);
      border-left: 8px solid var(--red);
    }

    last-commit-sk {
      color: var(--white);
      margin-right: 5px;
    }

    login-sk {
      margin-left: auto;
      margin-right: 1em;
      display: block;
      color: var(--white);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    a {
      padding: 0.5em 0.75em;
      color: var(--black);
      fill: var(--black);
      text-decoration: none;
    }
    span {
      padding: 0 0.5em;
      vertical-align: middle;
    }
  }
}
