@import '../../../elements-sk/modules/styles/buttons';
@import '../../../elements-sk/modules/colors';

image-compare-sk {
  min-width: 510px;
  display: block;

  .comparison_bar {
    display: flex;
    flex-direction: row;
  }

  figure {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  figcaption {
    .legend_dot {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: var(--black);
      display: inline-block;
      vertical-align: middle;
    }
  }

  .no_compare, .computing {
    margin: auto;
    font-weight: bold;
  }

  .zoom_btn {
    width: 90%;
  }

  multi-zoom-sk {
    width: 930px;
  }

  img.thumbnail {
    margin: 5px;
    border: solid 2px lightgray;
    display: block;
    width: 128px;
    height: 128px;
    object-fit: scale-down;
    object-position: top left;
    cursor: zoom-in;
  }

  img.diff {
    image-rendering: pixelated;
  }

  img.fullsize {
    width: inherit;
    height: inherit;
    cursor: zoom-out;
  }
}
