@import '../../../elements-sk/modules/styles/buttons';
@import '../theme/theme';

device-editor-sk {
  dialog {
    padding: 8px;
    border: solid 1px var(--on-surface);
    color: var(--on-background);
    background: var(--background);
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      margin: auto 10px;
    }
  }

  .center {
    text-align: center;
  }

  table {
    td:first-child {
      text-align: right;
    }
  }

  .confirm {
    .warning {
      font-size: 2em;
    }
  }

}
