@import '../../../elements-sk/modules/styles/buttons';
@import '../../../elements-sk/modules/colors';

@import '../themes/themes.scss';

tricon2-sk {
  check-circle-icon-sk {
    fill: var(--green);
  }

  cancel-icon-sk {
    fill: var(--red);
  }

  help-icon-sk {
    fill: var(--brown);
  }
}

.body-sk tricon2-sk {
  check-circle-icon-sk {
    fill: var(--green-700);
  }

  cancel-icon-sk {
    fill: var(--red-700);
  }

  help-icon-sk {
    fill: var(--brown-400);
  }
}

.body-sk.darkmode tricon2-sk {
  check-circle-icon-sk {
    fill: var(--green-500);
  }

  cancel-icon-sk {
    fill: var(--red-500);
  }

  help-icon-sk {
    fill: var(--brown-300);
  }
}
